.bg-verde{
    background-color: #e5fae9;
}
.bg-verdeclaro{
    background-color: #f5f9fc;
}
.bg-verdeoscuro{
    background-color: #27a844;
}
.bg-blanco{
    background-color: #fff;
}
.blanco{
    color: white;
}
.container{
    padding: 20px 0;
    margin: 0 auto;
    width: 80%;
}
footer{
    background-color: rgb(108, 117, 126);   
}
footer a{
    color: #fff;
}
.verdeFooter{
    background-color: rgb(39, 168, 69);
}
#modalPrivacidad li{
    list-style: decimal;
    font-size: larger;
    font-weight: bold;
}
#modalPrivacidad li p{
    font-size: medium;
    font-weight: lighter;
}
.card h3 {
    background-color: #24a746;
}
#categorias img {
    border-radius: 100%;
}
.reptiles h1{
    font-weight: 300;
}
table .stripped tr:nth-child(even){
    background: none;
}
table tr:nth-child(odd){
    background-color: #d8eddc;
}